#dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.9);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    z-index: 9999;

    /* animation เฉพาะที่ใช้ */
    transition: opacity 0.4s ease, visibility 0.4s ease;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

#dm-overlay.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.lock-content {
    padding: 2rem;
    border: 2px solid #444;
    background: #222;
    border-radius: 10px;
}

#unlock-btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    background: #d4a017;
    border: none;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
#dm-overlay {
    pointer-events: none;
}

#dm-overlay.active {
    pointer-events: all;
}
