html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #1e1e1e;
  color: white;
  font-family: sans-serif;
}

#toolbar {
  background: #2b2b2b;
  padding: 6px;
}

#viewport {
  width: 100vw;
  height: calc(100vh - 40px);
  overflow: hidden;
  position: relative;
  cursor: grab;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  user-select: none;
}
#dm-lock {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 9999;
}

